.home-body {
  height: 40rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-blurb {
  font-family: 'Slabo 27px', serif;
}

.home-greeting {
  margin: 0;
  font-size: 20px;
}

.home-name {
  font-size: 72px;
  font-weight: bold;
  margin: 0;
}

.home-profession {
  margin: 0;
  font-size: 37px;
}

.home-hobby {
  margin: 8px 0;
  font-size: 24px;
}

.gif {
  width: 480px;
  height: 270px;
  border: none;
  pointer-events: none;
  object-position: 100% 0;
}