.navigation-container {
  display: flex;
  justify-content: end;
  margin: 16px;
}

.navigation-buttons {
  margin: 16px;
  text-decoration: none;
  color:black;
}

.navigation-buttons:hover {
  text-decoration: underline;
}